*{
    background-color: #FFFAFA;
   font-family: Arial, Helvetica, sans-serif;
}
div  {
    font-size: 18px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}
h1  {
    text-align: center;
    font-family: "Helvetica";
    color:#4682b4;
    
}
div  h1 {
    font-family:"Helvetica";
   
    
}
p {
    display: table;
    inline-size: 500px;
    margin-left: auto;
    margin-right: auto;
}
.biryani-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 700px;
    
   
}
.icecream-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 500px;
    
}
.pizza-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 700px;
}